.searchbar{
    width: 97%;
    min-height: 10%;
    margin:  2% auto 0 auto;
    display: flex;
    padding: 0 5px;
    align-items: center;
    border: 1px solid #dddddd;

}

.searchbar-input{
    width: 90%;
    height: 40px;
    padding: 5px;
    outline: none;
    border: none;
}